/* || Sitewide */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fefefe;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.canvas {
    max-width: 1200px;
    margin: 10px auto;
	padding-top: 10px;
    padding: 10px;
    z-index: 3;
    position: relative;
}

/* || Nav Bar (Darkish Blue #4d7fa0) (Darkish Green #338b33)*/
.navbar {
    max-width: 1000px;
    margin: 0px auto;
	border-radius: 5px;
    color: white;
    display: flex;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-evenly;
    font-size: 24px;
}

@keyframes nav-load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.right-bracket p {
    font-size: 50px;
    animation: right-load 1s;
}

@keyframes right-load {
    0% {
        transform: translateX(-2000%);
    }
    100% {
        opacity: translateX(0);
    }
}

.left-bracket p {
    font-size: 50px;
    animation: left-load 1s;
}

@keyframes left-load {
    0% {
        transform: translateX(+2000%);
    }
    100% {
        opacity: translateX(0);
    }
}

.wave {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
}

.nav-list {
    list-style-type: none;   
}

.nav-list .list-item {
    display: inline-block;
    padding: 20px 30px;
    animation: nav-load 2s;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: black;
}

.menu {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
}

.menu-line {
    width: 30px;
    height: 4px;
    background-color: black;
    margin-bottom: 5px;
}

.navbar .active-page a{
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
}

/* || Footer */
.footer-alignment {
    position: relative;
    display: flex;
    bottom: inherit;
    max-width: 1200px;
    margin: 0px auto;
    justify-content: space-around;
}

.footer {
    color: black;
	font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    padding-bottom: 10px;
    z-index: 4;
}

.copyright {
	margin-right: auto;
}

.footer-list {
    list-style-type: none;
}

.footer-list .footer-list-item {
    display: inline-flex;
	align-items: center;
	padding: 5px;
	justify-content: right;
}

/* || Homepage */
.home-page-intro {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 70px;
    justify-content: center;
    position: relative;
}

.home-page-intro h2 {
    animation: homepage-welcome 1s;
    padding-bottom: 20px;
}

@keyframes homepage-welcome {
    0% {
        transform: translateY(100%);
    }
    
    100% {
        transform: translateY(0);
    }
}

.page-intro {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    position: relative;
}

.page-intro h2 {
    animation: homepage-welcome 1s;
}

.page-intro p {
    animation: homepage-text 2s;
}

.home-page-intro p {
    margin: 0px 100px;
    padding: 10px;
    padding-left: 25px;
    text-align: center;
    animation: homepage-text 3s;
}

@keyframes homepage-text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.body-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 50px;
}

.body-intro p {
    font-size: 18px;
    line-height: 1.8;
    padding: 25px 100px;
    animation: homepage-text 3s;
}

.body-intro img {
    border-radius: 5px;
    border: 3px solid #696969;
    animation: image-load 3s;
}

@keyframes image-load {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

/* Whats New Section on Homepage */ 
.body-links-title {
    font-size: 24px;
    text-align: center;
    padding-top: 50px
}

.body-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 160px;
}

.body-links-block /*#ededed*/ {
    background-color: #ededed;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 20px;
    border: 3px solid #696969;
}

.body-links-block:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.body-links-block h2 {
    color: black;
    padding-top: 8px;
    padding-bottom: 6px;
}

.body-links-block p {
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 18px;
}

.body-links-block img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.body-links-block a {
    color: #696969;
    text-decoration: none;
}

.body-links-block a:hover {
    opacity: 70%;
}

/* || Thoughts */
.blog-entry {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.blog-entry p {
    font-size: 24px;
}

.blog-entry a {
    color: #0000EE;
    font-size: 24px;
    text-decoration: none;
}

.blog-entry a:hover {
    color: black;
    text-decoration: underline;
}

.blog-intro {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    position: relative;
}

.blog-date {
    padding-top: 40px;
    font-weight: bold;
    color: rgb(78, 78, 78);
    font-size: 18px;
}

.blog-copy {
    padding: 70px 120px;
    font-size: 18px;
    line-height: 1.8;
}

/* || Project */
.project-status {
    position: relative;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
    font-size: 24px;
    padding-top: 50px;
}

.project-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-decoration: none;
}

.project-item {
    background-color: #ededed;
    max-width: 306px;
    padding-bottom: 30px;
    border: 3px solid #696969;
    border-radius: 10px;
}

.project-item a{
    text-decoration: none;
}

.project-item img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.project-item .flavor-text{
    position: relative;
    font-weight: bold;
    color: rgb(78, 78, 78);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.project-item h2 {
    color: black;
}

.project-item p {
    padding-top: 10px;
}

.project-item:hover
{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    opacity: 0.8;
}

/* || About */
.about-body-intro {
    padding-top: 40px;
}

.about-body-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 50px;
}

.about-body-intro p {
    font-size: 18px;
    line-height: 1.8;
    padding: 25px 100px;
}

.about-portrait img {
    border-radius: 5px;
    border: 3px solid #696969;
}

.body-intro-text {
    display: flex;
    flex-direction: column;
}

.body-intro-text h2 {
    font-size: 24px;
    text-align: center;
}

/* Contacts on About */
.contact-list {
    display: flex;
    list-style-type: none;
    justify-content: center; 
    align-items: center;
}

.contact-list .contact-list-item {
	padding: 10px;
}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/*|| Mobile View*/
@media all and (max-width: 560px) {
    .canvas {
        margin: 0px;
    }

    body {
        margin-top: 0px !important;
    }

    /*|| Nav Bar */
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: unset;
        animation: none;
        margin-top: 0px !important;
        padding-top: 0px !important;
    }

    .right-bracket {
        display: none;
    }

    .left-bracket {
        display: none;
    }

    .menu {
        display: block;
    }

    .nav-list {
        list-style-type: none;
        width: 100%;
        text-align: center;
        display: none;
    }

    .nav-list .list-item {
        display: block;
        border-top: 1px solid white;
    }

    .nav-list .list-item a {
        text-align: center;
        padding: 20px 130px;
    }

    .active {
        display: block;
        background-color: #659DBD;
    }

    /*|| Footer*/
    .footer {
        padding-bottom: 20px;
    }

    /*|| Homepage*/
    .home-page-intro p {
        margin: 0px !important;
        padding: 0px;
    }

    .home-page-intro {
        padding-top: 20px !important;
    }

    .body-intro {
        flex-direction: column !important;
        padding-top: 30px;
        padding-left: 0px;
    }
    
    .body-intro img {
        align-self: center;
    }

    .body-intro p {
        padding: 20px;
    }

    .body-links {
        flex-direction: column !important;
        align-items: center;
        padding-bottom: 70px;
    }
    
    .body-links-block {
        max-width: 306px;
        margin-bottom: 50px;
        justify-content: space-evenly;
    }

    /*|| Blog*/

    .blog-entry {
        display: block;
    }
    
    .blog-copy {
        padding: 40px 20px;
    }
    
    /*|| About*/
    .about-body-intro {
        flex-direction: column !important;
        padding-top: 30px;
        padding-left: 0px;
    }

    .about-body-intro p {
        padding: 20px;
    }
    
    .contact-list {
        margin: 0px;
    }
    .contact-list-item {
        padding: 15px !important;
    }
}
